.App {
  text-align: center;
}

@font-face {
  font-family: Simple;
  src: url(./fonts/simple_thread/simpleThread.otf);
  font-display: fallback;
}

@font-face {
  font-family: Gotham;
  src: url(./fonts/Gotham-Light.otf);
  font-display: fallback;
}

#header-title{
  font-family: Simple;
  color: #a0914ee9;
  letter-spacing: 3px;
}

#head-img{
  background-color: #edeae4;
  
  width: 100vw;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#gradient{
  background-color: rgba(17,17,17,0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.white h1{
  color: #3b4a69;
}

h1{
  font-size: 2rem;
  letter-spacing: 2px;
}

*{
  box-sizing: border-box;
  font-family: Gotham ;
}

html{
  scroll-behavior: smooth;
}

nav{
  height: 75px;
  width: 100vw;
  background-color: rgba(84,81,57, 0.8);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

  z-index: 999;
}

#about *{
  color: #1e1e1e;
}

#nav-logo{
  margin: 175px 0 75px 0;
  opacity: 0.8;
  max-width: 90%;
  border-radius: 3px;
  z-index: 3;
}

a{
  color: white;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
  margin: 0 0.7rem;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

#cloud{
  width: 100vw;
  height: 80vh;
  object-position: center;
  object-fit: cover;
}

.divider{
  height: 7px;
  background-color: #a99c65;
  margin: 0;

}

.img{
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  max-width: 100vw;
}

.flexwrap-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

main{
  min-height: 100vh;
}

.blue{
  background-color: #545139;
  width: 100vw;
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.white{
  background-color: #edeae4;
  width: 100vw;
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.txt{
  width: 800px;
  max-width: 100vw;
  padding: 2rem;
  font-size: 1.1rem;
  line-height: 25px;
  text-align: left;
}

.white h1, .blue h1{
font-size: 1.1rem;
font-weight: bold;
text-transform: uppercase;
}

.social-icon{
  height: 30px;
  margin: 0 0.5rem;
}



footer{
  height: 150px;
  background-color: #545139;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  color: white;
}


@media only screen and (max-width: 600px) {
  #socials{
    display: none;
  }


  a{
    margin: 0.6rem;
    font-size: 0.6rem;

  }
  nav{
    justify-content: center;
    padding: 0;
  }
}
